.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .connect4 {
      display: flex;
      flex-wrap: wrap;
      background-color: aqua;
      width: 50%;
  }